html, body {
    margin:0;
    padding:0;
}

#mainHeader {
    text-align:right;
    height:30px;
}

#header {
    height:150px;
    text-align: center;
    background-color:#FF8400;
    padding-top:2%;
}

#mainsection {
    height:400px;
    margin-top:40px;
}

#section1 {
    border-top:3px solid #0076A9;
    float:left;
    height:400px;
    width:25%;
    margin-left:8%;
}

#section2 {
    float:left;
    height:400px;
    width:25%;
    border-top:3px solid #0076A9;
    margin-left:4%;
}

#section3 {
    float:left;
    height:400px;
    width:25%;
    border-top:3px solid #0076A9;
}

#trailStack {
    text-align: center;
}

#reservedStack {
    text-align: center;
}

#customStack {
    text-align: center;
}

a:link {
    text-decoration:none;
    color:black;
}

#menuHeader {
    height:57px;
    background-color:#47484c;
}

#menus {
    height:50px;
    margin-right:16px;
}

#section1:hover {
    background-color:#0081bc;
}

#section2:hover {
    background-color:#0081bc;
}

#section3:hover {
    background-color:#0081bc;
}
a:link {
    color: black;
}
#loader {
  position: absolute;
  left: 63%;
  top: 52%;
  z-index: 1;
  width: 20px;
  height: 20px;
  margin: -75px 0 0 -75px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
